<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1> A new meal has been added!! View at the link below.</h1>
    <a href="http://localhost:3000/dashboard/meals">View new meal</a>
    <h2>{{ title }}</h2>
    <p> Made by:  {{ made_by }}  </p>
    <p> {{ description }} </p>
    <img style="max-width: 450px; max-height: 450px" alt="" src={{ image }}/>
</body>
</html>